
.col-md-6{
    width: 50%;
    float: left;
}
.card{
    border: 1px solid;
    width: 220px;
    height: 270px;
    float: left;
    text-align: center;
}
.picture{
    width: 200px;
    }
.ciname{
    font-style: italic;
}
.clearfix {
  overflow: auto;
}
.detname{
    height: 25px;
}
.buttonus{
    border-style: solid;
    border-color: navy;
    border-radius: 15px;
    background-color: grey;
    width: 100px;
}
.detail{
    border: 1px solid;
    border-color: lightcoral;
    width: 50%;
    height: 540px;
    float: left;
    text-align: center;
    margin-left: 25%;

}
.detpicture{
    width: 400px;
    }

.australiano{
background: green;
}
.acuatico{
background: blue;
}
.europeo{
    background: purple;
}
.formko{
    border-color: red;
}
.formok{
    border-color: green;
}
.formvirgin{
border-color: blue;
}