.card{
    border: 1px solid;
    width: 33%;
    height: 300px;
    float: left;
}
.picture{
    width: 200px;
    }
.ciname{
    font-style: italic;
}
.clearfix {
  overflow: auto;
}
.detname{
    height: 25px;
}
.buttonus{
    border-style: solid;
    border-color: navy;
    border-radius: 15px;
    background-color: grey;
    width: 100px;
}